---
layout: default
title: Team.
permalink: /team/
---

<div class='page-header'>
  <h1>Team.</h1>
</div>

<div class='info-group'>
  <div class='bio-portrait' style='background-image: url("/images/michael.jpg")'></div>
  <div class='info-item'>
    <h4>Michael Smith Jr</h4>
    <h5>Partner</h5>
    <p>Michael has helmed technology-led expansions across the region from HOOQ (SingTel), Spuul, Yahoo! and BEA Systems (later acquired by Oracle). Michael is a WebLogic alumnus who currently calls Singapore home and is excited to be a part of the startup ecosystem in Southeast Asia.</p>
    <p>As Chief Technology Officer at HOOQ he was key in driving product and technology decisions that powered the premium online video content service to customers across Asia. At Yahoo!, Michael served as Director of Global Tech Initiatives. He managed the Asian developer network and oversaw the acquisitions of start-ups and partnerships with companies across Southeast Asia. Michael also spearheaded the acquisition of Koprol which formed the foundation of Yahoo!’s Indonesian engineering site.</p>
    <p>A 44-year-old native from the Bay area with a degree in Computer Science from Sierra College in California, USA, Michael has found his home in East Asia: He has worked in Singapore, Hong Kong and Thailand, and been actively involved in the Asian start-up community over the past ten years.</p>
    <div class='bio-contact'>
      {% include icon-twitter.svg %}
      {% include icon-linkedin.svg %}
    </div>
  </div>
</div>
<div class='info-group'>
  <div class='bio-portrait' style='background-image: url("/images/tiang.jpg")'></div>
  <div class='info-item'>
    <h4>Tiang Lim Foo</h4>
    <h5>Operating Partner</h5>
    <p>Tiang started and launched Evernote’s operations in Singapore spearheading market development and business growth in Southeast Asia, Australia and New Zealand.</p>
    <p>Prior to launching Evernote, he served as VP of Product at MoVend, a Singtel Innov8 funded startup focused on mobile application development, content distribution and app monetization. Overseeing developer relations, feature planning and product marketing, Tiang identified key publishing and payment partners for the MoVend commerce platform’s growth.</p>
    <p>With a Bachelor’s in Mechanical Engineering from the renowned National University of Singapore (NUS), he started his career as a medical device engineer designing and implementing manufacturing processes for lean production of cardiovascular stents and catheters in Second Source Medial, a medical device contract manufacturer in San Jose, California and brings this keen understanding of product development to your team.</p>
    <div class='bio-contact'>
      {% include icon-twitter.svg %}
      {% include icon-linkedin.svg %}
    </div>
  </div>
</div>
<div class='info-group'>
  <div class='bio-portrait' style='background-image: url("/images/gabriel.jpg")'></div>
  <div class='info-item'>
    <h4>Gabriel Lundberg</h4>
    <h5>Operating Partner</h5>
    <p>Gabriel's career in the startup world started seven years ago when he joined Spotify as a fresh graduate at its headquarters in Stockholm.</p>
    <p>Transitioning from engineering to product management, Gabriel helped expand the digital music service's offering into the experience we know today. Responsible for the music search system, he is equally comfortable around big data and scalability issues as around user experience and layout engines. Gabriel also brought Spotify to new mobile platforms, launched a download store and eventually ended up at Spotify Singapore, where he tailored the music streaming service to Southeast Asia preferences.</p>
    <p>Hailing from Sweden, Gabriel holds a Bachelor of Science in Engineering Physics from Chalmers University of Technology and and also pursued graduate studies in computer science and machine learning.</p>
    <div class='bio-contact'>
      {% include icon-twitter.svg %}
      {% include icon-linkedin.svg %}
    </div>
  </div>
</div>