---
layout: default
title: Calendar.
permalink: /calendar/
redirect_from: /sessions/
excerpt: SeedPlus Sessions are selective and focused talks on topics founders care about.
---

<div class='page-header'>
  <h1>Calendar.</h1>
</div>

<div class='info-group'>
  <div class='info-item'>
    <h3>Sessions.</h3>
    <p>SeedPlus Sessions are selective and focused talks on topics founders care about. Certain Sessions are demand-limited (marked with a &#x2606;&#xfe0e;) - <a href='mailto:hello@seedplus.com' class='outbound'>get in touch</a> and we'll help you get access.</p>
  </div>
  <div class='info-item'>
    <h3>Clips.</h3>
    <p>When SeedPlus, our portfolio, or our team members are in the news we keep a small memento here.</p>
  </div>
</div>

{% assign events = site.sessions | concat: site.clips | sort: 'date' | reverse %}
{% for event in events %}
<div class='info-group js-session' js-session-date='{{ event.date | date: "%s000" }}'><!-- How to multiply by 1000 without parsing a number -_- -->
  <div class='info-sidebar'>
    <h2></h2>
  </div>
  {% if event.collection == 'sessions' %}
    {% assign session = event %}
    <div class='info-item'>
      <h4>{{ session.title }}</h4>
      <span class='subtitle'><span class='tag'>Session</span><span class='tag'>{{ site.data.calendar.tags | where: 'tag', session.tag | first | map: 'label' }}</span>  {{ session.date | date: "%A %b %d %Y" }} {% if session.exclusive %}&#x2606;&#xfe0e;{% endif %}</span>
      {{ session.output }}
    </div>
  {% elsif event.collection == 'clips' %}
    {% assign clip = event %}
    <div class='info-item'>
      <h4><a href='{{ clip.link }}' class='outbound'>{{ clip.title }}</a></h4>
      <span class='subtitle'><span class='tag'>Clip</span>
      {% if clip.tag %}<span class='tag'>{{ site.data.events.tags | where: 'tag', session.tag | first | map: 'label' }}</span> {% endif %}
      {{ clip.date | date: "%A %b %d %Y" }} {% if clip.outlet %} from {% if clip.link %}<a href='{{ clip.link }}' class='outbound'>{{ clip.outlet }}</a>{% else %} {{ clip.outlet }} {% endif %} {% endif %}</span>
      {{ clip.output }}
    </div>
  {% endif %}
</div>
{% endfor %}

<script>
var now = Date.now()
var grace_period = 72*60*60*1000; // Sessions are in "upcoming" for 12h after their stated date

var sessions = document.getElementsByClassName('js-session');

// Upcoming (here, to make the page look more sensible (no headings) if JS is turned off)
if (sessions.length > 0) {
  sessions[0].getElementsByTagName('h2')[0].innerText = 'Upcoming.'
}

// Past (overwrites upcoming if all in the past)
for (var j = 0; j < sessions.length; j++) {
  var session = sessions[j];
  var sessionInPast = parseInt(session.getAttribute('js-session-date')) < now - grace_period;
  if (sessionInPast) {
    session.getElementsByTagName('h2')[0].innerText = 'Archive.';
    break;
  }
}
</script>