---
layout: default
title: Team.
permalink: /team/
---

<div class='page-header'>
  <h1>Team.</h1>
</div>

<div class='info-group'>
  <div class='bio-image bio-portrait' style='background-image: url("/images/michael.jpg"); background-position: 42% 10%'></div>
  <div class='info-item'>
    <h3>Michael Smith Jr</h3><br/>
    <span class='subtitle'>Partner</span>
    <p>Michael has helmed technology-led expansions across the region from HOOQ (SingTel), Spuul, Yahoo! and BEA Systems (later acquired by Oracle). Michael is a WebLogic alumnus who currently calls Singapore home and is excited to be a part of the startup ecosystem in Southeast Asia.</p>
    <p>As Chief Technology Officer at HOOQ he was key in driving product and technology decisions that powered the premium online video content service to customers across Asia. At Yahoo!, Michael served as Director of Global Tech Initiatives. He managed the Asian developer network and oversaw the acquisitions of start-ups and partnerships with companies across Southeast Asia. Michael also spearheaded the acquisition of Koprol which formed the foundation of Yahoo!’s Indonesian engineering site.</p>
    <p>A native from the Bay area with a degree in Computer Science from Sierra College in California, USA, Michael has found his home in East Asia: He has worked in Singapore, Hong Kong and Thailand, and been actively involved in the Asian start-up community over the past ten years.</p>
    <div class='bio-contact'>
      <a href="https://twitter.com/dreampipe" class='outbound'>{% include icon-twitter.svg %}</a>
      <a href="https://www.linkedin.com/in/dreampipe" class='outbound'>{% include icon-linkedin.svg %}</a>
    </div>
  </div>
</div>
<div class='info-group'>
  <div class='bio-image bio-portrait' style='background-image: url("/images/chirayu.jpg")'></div>
  <div class='info-item'>
    <h3>Chirayu Wadke</h3><br/>
    <span class='subtitle'>Partner, IoT and connected devices</span>
    <p>Chirayu is an experienced technology executive, working on IOT and mobile payments platforms at Google, Mountain View for the last 5 years. He headed business development for the smart router designed by Google, and before that lead business development for the NFC mobile wallet ecosystem back in 2012 with Google Wallet/Android Pay.</p>
    <p>Prior to Google, he started Verizon Wireless' corporate development presence in Asia Pacific and India and was one of the first few people on Softcard (JV between Verizon, T-Mobile and AT&amp;T).</p>
    <p>Between large company stints, he has also tried his hand at founding a startup, which went on to raise a few million dollars in venture funding. Chirayu has been an advisor to Jungle ventures since its inception in 2012.</p>
    <div class='bio-contact'>
      <a href="https://twitter.com/chirayuwadke" class='outbound'>{% include icon-twitter.svg %}</a>
      <a href="https://www.linkedin.com/in/cwadke" class='outbound'>{% include icon-linkedin.svg %}</a>
    </div>
  </div>
</div>
<div class='info-group'>
  <div class='bio-image bio-portrait' style='background-image: url("/images/tiang.jpg")'></div>
  <div class='info-item'>
    <h3>Tiang Lim Foo</h3><br/>
    <span class='subtitle'>Operating Partner</span>
    <p>Tiang started and launched Evernote’s operations in Singapore spearheading market development and business growth in Southeast Asia, Australia and New Zealand.</p>
    <p>Prior to launching Evernote, he served as VP of Product at MoVend, a Singtel Innov8 funded startup focused on mobile application development, content distribution and app monetization. Overseeing developer relations, feature planning and product marketing, Tiang identified key publishing and payment partners for the MoVend commerce platform’s growth.</p>
    <p>With a Bachelor’s in Mechanical Engineering from  National University of Singapore (NUS), he started his career as a medical device engineer designing and implementing manufacturing processes for lean production of cardiovascular stents and catheters in Second Source Medial, a medical device contract manufacturer in San Jose, California and brings this keen understanding of product development to your team.</p>
    <div class='bio-contact'>
      <a href="https://twitter.com/tianglim" class='outbound'>{% include icon-twitter.svg %}</a>
      <a href="https://www.linkedin.com/in/tianglimfoo" class='outbound'>{% include icon-linkedin.svg %}</a>
    </div>
  </div>
</div>
<div class='info-group'>
  <div class='bio-image bio-portrait' style='background-image: url("/images/gabriel.jpg")'></div>
  <div class='info-item'>
    <h3>Gabriel Lundberg</h3><br/>
    <span class='subtitle'>Operating Partner</span>
    <p>Gabriel's career in the startup world started seven years ago when he joined Spotify as a fresh graduate at its headquarters in Stockholm.</p>
    <p>Transitioning from engineering to product management, Gabriel helped expand the digital music service's offering into the experience we know today. Responsible for the music search system, he is equally comfortable around big data and scalability issues as around user experience and layout engines. Gabriel also brought Spotify to new mobile platforms, launched a download store and eventually ended up at Spotify Singapore, where he tailored the music streaming service to Southeast Asia preferences.</p>
    <p>Hailing from Sweden, Gabriel holds a Bachelor of Science in Engineering Physics from Chalmers University of Technology and and also pursued graduate studies in computer science and machine learning.</p>
    <div class='bio-contact'>
      <a href="https://twitter.com/snailyone" class='outbound'>{% include icon-twitter.svg %}</a>
      <a href="https://www.linkedin.com/in/gabriellundberg" class='outbound'>{% include icon-linkedin.svg %}</a>
    </div>
  </div>
</div>
<div class='info-group'>
  <div class='bio-image bio-portrait' style='background-image: url("/images/dershing.jpg")'></div>
  <div class='info-item'>
    <h3>Der Shing Lim</h3><br/>
    <span class='subtitle'>Venture Partner</span>
    <p>Since 2009, Der Shing has been an active angel investor in technology startups. His goal is to help these businesses grow to their full potential through sharing of his experiences. In 2012, Der Shing joined Jungle Ventures as a Venture Partner and has invested directly in 17 startups and indirectly in hundreds more via 5 ASEAN VCs. </p>
    <p>Der Shing started out his career in 2000, growing JobsCentral from a 2 man startup in 2000 to over 150 full time headcount regionally in SG,MY and ID. Without any external funding, the team grew revenue and profit annually over a 10 year period. In 2011, JobsCentral Group was acquired by US based CareerBuilder. Der Shing’s last appointment which ended June 2014 was as Regional MD in CareerBuilder. He is now a full time investor.</p>
    <p>Der Shing is a board member for ITE, ACE and SPRING Singapore. He was also part of the main committee for the Committee on the Future Economy and co-led the startup workgroup. Der Shing also volunteers in the skillsfuture subcommittee of SWCDC.</p>
    <p>Der Shing graduated from the University of Michigan in 1999.</p>
    <div class='bio-contact'>
      <a href="https://www.linkedin.com/in/dershing/" class='outbound'>{% include icon-linkedin.svg %}</a>
    </div>
  </div>
</div>