html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #373535;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

#header {

}

#content {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 50px;

  display: flex;
  flex-direction: column;
}

#footer {
  width: 100%;
  background-color: #373535;
  font-family: 400;
  padding: 1rem 0;
  text-align: center;
}

#footer > p {
  margin: 0 auto;
  color: white;
}

#menu {
  padding: 0;
  margin: 0 -1rem;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
}

#menu.expanded {
  flex-flow: column;
  align-items: stretch;
}

#menu.expanded li:not(:first-child) {
  color: white;
  background-color: #373535;
  padding: 0.5rem;
}

#menu.expanded #hamburger {
  fill: white;
  background-color: #373535;
}

#menu #hamburger {
  height: calc(0.7*1.8rem);
  fill: #373535;
  margin-left: 3rem;
  padding: 1rem;
}

#menu > li {
  flex: 1 0 auto;
  margin: 0 1rem;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;

  text-align: right;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

#menu > li:first-child {

  flex: 3 0 auto;
}

#logo {
  font-size: 3rem;
  text-align: left;
}

div.page-header {
  max-width: 700px;
  margin-top: 5rem;
  padding: 1rem;
}

div.page-header > h1 {
  display: inline;
  font-size: 7rem;
  font-size: 8vmin;
  font-size: 8vm;
  font-weight: 700;   
  text-transform: uppercase;
  color: white;
  background-color: #05568A;
  line-height: 0.96em;
  white-space: nowrap;
  /* TODO: this should be box-decoration-break once support is common enough */
  box-shadow: 1rem 0 0 #05568A, -1rem 0 0 #05568A;
}

div.info-group {
  margin: 30px -1rem;

  display: flex;
  flex-direction: row;
}

div.info-item {
  margin: 1rem;
}

h4 {
  margin: 0;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 900;
  /* TODO: there might be a better way of doing this */
  /* border-left: 0.5rem solid #05568A; */
  box-shadow: inset 0 0.2em white, inset 0.5rem 0 0 #05568A;
}

h5 {
  margin: 0;
  padding-left: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: inset 0 0.2em white, inset 0.5rem 0 0 #05568A;
}

h4 ~ h5 {
  padding-top: 0.5rem;
  box-shadow: inset 0.5rem 0 0 #05568A;
}

p {
  color: black;
  line-height: 1.8rem;
}

.contact-footer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  
  margin: 0 -0.5rem 2rem -0.5rem;
}

.contact-footer > * {
  margin: 0 0.5rem;
}

.contact-footer > h3 {
  display: block;
  flex: 1 0 auto;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.contact-footer > h2 {
  margin: 0 1.2rem;
}

.contact-footer > svg {
  background-color: #05568A;
  fill: white;
  height: 1.8rem;
  padding: 0.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;

}

h2 {
  display: inline;
  font-size: 1.8rem;
  font-weight: 700;   
  text-transform: uppercase;
  color: white;
  background-color: #05568A;
  margin: 0 0.7rem;
  padding: 0.4rem 0;
  /* TODO: this should be box-decoration-break once support is common enough */
  box-shadow: 0.7rem 0 0 #05568A, -0.7rem 0 0 #05568A;
}

a, a:hover, a:visited, a:active {
  color: #373535;
}

h3 > a {
  text-decoration: none;
}