
$logo-height: 0.75 * 3rem;
$logo-hamburger-height-difference: 1rem;
$logo-bottom-padding: 1.5rem;

#menu {
  padding: 0;
  margin: 0 0 $logo-bottom-padding 0;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
}

#menu #hamburger {
  display: none;
}

#menu > li {
  flex: 1 0 auto;
  display: block;
  text-align: right;
}

#menu > li:first-child {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;

  flex: 3 0 auto;
}

#menu li:not(:first-child) a {
  text-decoration: none;
  //@include border-underline(transparent);
  transition: color 0.05s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

  font-family: "Raleway", sans-serif;

  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: $seedplus-gray;
  background-color: white;
  margin: 0 0.5rem;
  padding: 0.3rem 0;
  box-shadow: 0.5rem 0 0 white, -0.5rem 0 0 white;
}

#menu li:not(:first-child) a:hover {
  //@include border-underline($seedplus-gray);
  color: white;
  background-color: $jungle-blue;
  box-shadow: 0.5rem 0 0 $jungle-blue, -0.5rem 0 0 $jungle-blue;
}

#menu li:not(:first-child) a.current {
  //@include border-underline($jungle-blue);
  color: white;
  background-color: $seedplus-gray;
  box-shadow: 0.5rem 0 0 $seedplus-gray, -0.5rem 0 0 $seedplus-gray;
}

#logo {
  height: $logo-height;
}

@media (max-width: 768px) {
  #menu:not(.expanded) li:not(:first-child) {
    display: none;
  }

  #menu.expanded > li:first-child {
    margin-bottom: $logo-bottom-padding;
  }

  #menu #hamburger {
    & svg {
      height: $logo-height - $logo-hamburger-height-difference;
    }
    display: inline;
    fill: $seedplus-gray;
    padding: ($vertical-page-margin + $logo-hamburger-height-difference) $horizontal-page-margin ($logo-bottom-padding + $underline-width) $horizontal-page-margin;
    margin: (-$vertical-page-margin - $logo-hamburger-height-difference) (-$horizontal-page-margin) (-$logo-bottom-padding) 0;
  }

  #menu.expanded #hamburger {
    fill: white;
    background-color: $seedplus-gray;
  }

  #menu.expanded {
    flex-flow: column;
    align-items: stretch;
    margin-bottom: 0;
  }

  #menu.expanded li:not(:first-child) {
    &, & a, & a:hover, & a:visited, & a:active
    {
      color: white;
      background-color: $seedplus-gray;
      box-shadow: 0.5rem 0 0 $seedplus-gray, -0.5rem 0 0 $seedplus-gray;

      & a.current {
        color: $seedplus-gray;
        background-color: white;
        box-shadow: 0.5rem 0 0 white, -0.5rem 0 0 white;
      }
      & a:hover {
        color: $jungle-blue;
        background-color: white;
        box-shadow: 0.5rem 0 0 white, -0.5rem 0 0 white;
      }
    }


    background-color: $seedplus-gray;
    text-align: left;
    padding: 0.5rem 3rem;
    margin: 0 -3rem;
  }

  #menu.expanded li:last-child {
    padding-bottom: 1.5rem;
  }
  #menu.expanded li:nth-child(2) {
    padding-top: 1.5rem;
  }
}